* {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #27ae60;
}
a:hover {
	text-decoration: underline;
	color: #27ae60;
}

h1 {
	color: #e74c3c;
}
h1:hover {
	color: #c0392b;
	cursor: pointer;
}